<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=, initial-scale=1.0">
  <title>FRC #9460</title>


  <!--BootStrap-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="css/base.css">
</head>

<body>
  <!-- NavBar -->
  <nav class="navbar bg-body-tertiary">
    <div class="container">
      <a class="navbar-brand" href="https://www.instagram.com/steelbullsfrc/" target blank>
        <img src="../../frc-9460/assets/image/bullslogo-removebg.png" alt="Bootstrap" width="100" height="100">
      </a>
      <a class="nav-link active" aria-current="page" href="/src/view/index.html">Pagina Inicial</a>
      <a class="nav-link active" aria-current="page" href="/src/view/equipe.html">Equipe</a>
      <a class="nav-link active" aria-current="page" href="/src/view/mascote.html">mascote</a>
    </div>
  </nav>

  <div class="letras">
    <h1>O que é FRC?</h1>
    <p>Lorem Ipsum é simplesmente um texto fictício da indústria de impressão e composição tipográfica. Lorem Ipsum
      tem
      sido o texto fictício padrão da indústria desde 1500, quando um impressor desconhecido pegou uma prova de
      tipos
      e a misturou para fazer um livro de espécimes de tipos. Ela sobreviveu não apenas a cinco séculos, mas
      também ao
      salto para a composição tipográfica eletrônica, permanecendo essencialmente inalterada. Foi popularizado na
      década de 1960 com o lançamento de folhas Letraset contendo passagens de Lorem Ipsum e, mais recentemente,
      com
      software de editoração eletrônica como Aldus PageMaker, incluindo versões de Lorem Ipsum.</p>

    <h1>De onde vem a FRC?</h1>
    <p>Ao contrário da crença popular, Lorem Ipsum não é simplesmente um texto aleatório. Tem raízes em uma peça da
      literatura latina clássica de 45 aC, com mais de 2.000 anos. Richard McClintock, professor de latim no
      Hampden-Sydney College, na Virgínia, procurou uma das palavras latinas mais obscuras, consectetur, em uma
      passagem de Lorem Ipsum, e examinando as citações da palavra na literatura clássica, descobriu a fonte
      indubitável. Lorem Ipsum vem das seções 1.10.32 e 1.10.33 de "de Finibus Bonorum et Malorum" (Os Extremos do
      Bem
      e do Mal) de Cícero, escrito em 45 AC. Este livro é um tratado sobre a teoria da ética, muito popular
      durante o
      Renascimento. A primeira linha de Lorem Ipsum, "Lorem ipsum dolor sit amet..", vem de uma linha na seção
      1.10.32.
      O pedaço padrão de Lorem Ipsum usado desde 1500 é reproduzido abaixo para os interessados. As seções 1.10.32
      e
      1.10.33 de "de Finibus Bonorum et Malorum" de Cícero também são reproduzidas em sua forma original exata,
      acompanhadas por versões em inglês da tradução de 1914 de H. Rackham</p>

    <h1>Porque fazemos isso?</h1>
    <p>É um fato estabelecido há muito tempo que um leitor se distrairá com o conteúdo legível de uma página ao
      observar
      seu layout. O objetivo de usar Lorem Ipsum é que ele tem uma distribuição de letras mais ou menos normal, em
      vez
      de usar 'Conteúdo aqui, conteúdo aqui', fazendo com que pareça um inglês legível. Muitos pacotes de
      editoração
      eletrônica e editores de páginas da web agora usam Lorem Ipsum como modelo de texto padrão, e uma pesquisa
      por
      'lorem ipsum' revelará muitos sites ainda em sua infância. Várias versões evoluíram ao longo dos anos, às
      vezes
      por acidente, às vezes propositalmente (injetando humor e coisas do gênero).</p>

    <h1>Como posso entrar para a FRC?</h1>
    <p>Existem muitas variações de passagens de Lorem Ipsum disponíveis, mas a maioria sofreu alterações de alguma
      forma, por injeção de humor ou palavras aleatórias que não parecem nem um pouco verossímeis. Se você for
      usar
      uma passagem de Lorem Ipsum, você precisa ter certeza de que não há nada embaraçoso escondido no meio do
      texto.
      Todos os geradores Lorem Ipsum na Internet tendem a repetir pedaços predefinidos conforme necessário,
      tornando
      este o primeiro gerador verdadeiro na Internet. Ele usa um dicionário de mais de 200 palavras latinas,
      combinado
      com um punhado de estruturas de frases modelo, para gerar Lorem Ipsum que parece razoável. O Lorem Ipsum
      gerado
      está, portanto, sempre livre de repetição, injeção de humor ou palavras não características, etc.
    </p>
  </div>

  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="/frc-9460/assets/image/FRC1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="/frc-9460/assets/image/FRC2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/frc-9460/assets/image/FRC3.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="/frc-9460/assets/image/FRC4.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="/frc-9460/assets/image/FRC5.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</body>

</html>